<h1 class="mx-auto" style="width: 200px;">Products</h1>
<div *ngFor="let product in products">
    <mdb-card>
        <!--Card image-->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>{{product.name}}</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> 
              {{product.description}}
          </mdb-card-text>
      
          <a href="#" mdbBtn color="primary" mdbWavesEffect>{{product.price}} | Add To Cart</a>
        </mdb-card-body>
      </mdb-card>
</div>