<h1 class="text-center m-1">Products</h1>
<a href="#" mdbBtn color="success" (click)="addModal()" mdbWavesEffect>Add</a>
<div *ngFor="let product in products">
    <mdb-card>
        <!--Card image-->
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap"></mdb-card-img>
        <!--Card content-->
        <mdb-card-body>
      
          <!--Title-->
          <mdb-card-title>
            <h4>{{product.name}}</h4>
          </mdb-card-title>
      
          <!--Text-->
          <mdb-card-text> 
              {{product.description}}
          </mdb-card-text>
      
          {{product.price}}
          <a href="#" mdbBtn color="warning" (click)="updateModal(product)" mdbWavesEffect>Edit</a>
          <a href="#" mdbBtn color="danger" (click)="deleteModal(product)" mdbWavesEffect>Delete</a>
        </mdb-card-body>
      </mdb-card>
</div>