<div class="modal-lg dark-background" style="max-height: 97vh; overflow-y: scroll;">

    <mdb-icon class="p-1" style="float:right;" fas icon="times" (click)="close();"></mdb-icon>

    <br>
    <div class="modal-header justify-content-center mt-2">
        <h4>Add A Product</h4>
    </div>

    <div class="modal-body">
        <div class="md-form">
            <input mdbInput type="text" name="name" id="name" [(ngModel)]="product.name" class="form-control">
            <label for="name" class="">Name</label>
        </div>
        <div class="md-form mt-0 advanced-query">
            <textarea templatedInput mdbInput type="text" id="description"
                class="md-textarea form-control no-border-bottom" name="description" [(ngModel)]="product.description"
                rows="3"></textarea>
            <label for="description">Description</label>
        </div>
        <div style="border: 1px solid grey;">
            <label for="productPicture">Pictures</label>
            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="well my-drop-zone">
                Drag Picture Here
            </div>
            <input type="file" ng2FileSelect [uploader]="uploader" />
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="md-form">
            <div class="md-form">
                <input type="number" class="form-control" id="numberInputEx" [(ngModel)]="product.price" mdbInput>
                <label for="numberInputEx">Price</label>
            </div>
        </div>
        <div class="text-center">
            <button mdbBtn type="button" color="primary" outline="true" (click)="addProduct()" mdbWavesEffect>Add</button>
        </div>
    </div>

</div>