<div class="text-center modal-fluid dark-background">
    <mdb-icon class="p-1" style="float:right;" fas icon="times" (click)="close();"></mdb-icon>
    <div class="modal-header text-center">
        Add a Product
    </div>

    <div class="modal-body">
        <div class="md-form form-group input-group">
            <input mdbInput type="text" name="name" id="name" [(ngModel)]="product.name" class="form-control">
            <label for="name" class="">Product Name...</label>
            <div class="md-form mt-0 advanced-query">
                <textarea templatedInput
                          mdbInput
                          type="text"
                          id="description"
                          class="md-textarea form-control no-border-bottom"
                          name="description"
                          [(ngModel)]="product.description"
                          rows="3"
                          ></textarea>
                <label for="description">Product Description...</label>
            </div>
            <input mdbInput type="text" name="picture" id="picture" [(ngModel)]="product.picture" class="form-control">
            <label for="picture" class="">Product Picture...</label>
            <input mdbInput type="text" name="price" id="price" [(ngModel)]="product.price" class="form-control">
            <label for="price" class="">Product Price...</label>
            <button mdbBtn class="ml-5" type="button" color="primary" outline="true" (click)="addProduct()" mdbWavesEffect>Add</button>
        </div>
    </div>
</div>